---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';

import uclClubs from '../assets/ucl-clubs.json';
import uelClubs from '../assets/uel-clubs.json';

import uclLogo from '../assets/ucl-logo.svg';
import uelLogo from '../assets/uel-logo.svg';
---

<Layout title="Football Crest">
	<section>
		<div id="ucl" class="h-20 -mt-20 pointer-events-none"></div>
		<Grid championshipName="Champions League" championshipLogo={uclLogo} clubsData={uclClubs} imageLoading='eager' />
	</section>
	<section>
		<div id="uel" class="h-20 -mt-20 pointer-events-none"></div>
		<Grid championshipName="Europa League" championshipLogo={uelLogo} clubsData={uelClubs} imageLoading='lazy' />
	</section>
</Layout>