---
import { Layout } from "@globals";
import { Navigation } from "@components/Navigation";
import { GridCrests } from "@components/GridCrests";

import data from "../data.json";

import uclLogo from "@assets/ucl-logo.svg";
import uelLogo from "@assets/uel-logo.svg";
---

<Layout>
  <Navigation />
  <section>
    <div id="ucl" class="pointer-events-none -mt-20 h-20"></div>
    <GridCrests
      championshipName="Champions League"
      championshipLogo={uclLogo}
      clubsData={data.ucl}
      imageLoading="eager"
    />
  </section>
  <section>
    <div id="uel" class="pointer-events-none -mt-20 h-20"></div>
    <GridCrests
      championshipName="Europa League"
      championshipLogo={uelLogo}
      clubsData={data.uel}
      imageLoading="lazy"
    />
  </section>
</Layout>
