<nav class="mb-6">
  <div class="mb-4 flex gap-3">
    <a
      href="#ucl"
      class="inline-block cursor-pointer rounded-full bg-slate-50 px-3 py-1 text-sm text-black hover:bg-slate-200"
      >Champions League</a
    >
    <a
      href="#uel"
      class="inline-block cursor-pointer rounded-full bg-slate-50 px-3 py-1 text-sm text-black hover:bg-slate-200"
      >Europa League</a
    >
  </div>
  <div class="rounded-lg bg-slate-900 p-4">
    Click to download your club crest <span class="italic">SVG</span>
  </div>
</nav>
