---
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="List of football club badges from the European championships for the 2023/24 season" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-950 text-white font-mono pt-20 selection:bg-violet-700 mb-6">
		<Header />
		<main class="max-w-screen-xl mx-auto px-4">
			<Navigation />
			<slot />
		</main>
	</body>
</html>